body {
    font-family: sans-serif, serif;
    background-color: #000;
    color: #CCC;
}

#page { 
    width: 100%;
    margin: auto auto;
    padding: 1rem;
}

#page h1 {
    text-align: center;
    margin: auto auto;
}